.registration-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
  /* min-height: 100vh; */
  height: 100vh;
  /* max-height: 115vh; */
  width: 100%;
}

/* .register-img {
    width: 100%;
} */

.register-form-container {
  width: 100%;
  background-color: var(--primary-bg-color);
  padding: 2rem 0.5rem 0 0.5rem;
  border-radius: 15px 15px 0 0;
  margin-top: -10px;
  /* position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; */
  /* min-height: 200px; */
}

.register-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  /* margin-bottom: 20px; */
  padding: 0 1rem 0 1rem;
}

.register-input-wrapper {
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
}

.register-button-wrapper {
  padding: 2rem 1rem 0 1rem;
}

.register-button {
  --background: #bf5906;
  font-weight: bold;
  font-size: 12px;
}

.login-text-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

@media (min-width: 768px) {
  /* Tablets & Web */
  .registration-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .register-container {
    width: 50%;
    padding: 0 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .register-img-wrapper {
    width: 50%;
    height: 100vh;
    /* border-radius: 50px; */
    overflow: hidden;
    /* padding: 20px; */
  }

  .register-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .register-input-wrapper {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
  }
}
