.product-details-modal {
  background: var(--primary-bg-color);
}

.product-details-container {
  position: relative;
}

.product-details-img {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
  height: 250px;
}

.back-button-container {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 10; /* put at the top of image */
}

.back-button {
  --background: #fff;
  --background-hover: rgba(255, 255, 255, 0.1);
  --background-activated: rgba(255, 255, 255, 0.2);
  --box-shadow: none;
  --padding-start: 3px;
  --padding-end: 3px;
  --padding-top: 3px;
  --padding-bottom: 3px;
  --border-radius: 10px;
}

.back-icon {
  color: #000;
  font-size: 20px;
  padding: 5px;
}

.product-details-img ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 5px 20px;
}

.product-details-header ion-card-subtitle {
  font-size: 20px;
  font-weight: 700;
  color: var(--header-color);
}

.product-details-header ion-card-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--button-color);
}

.product-details-description {
  padding: 0 20px 10px 20px;
}

.product-size-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0 0 0;
}

.product-size-container::-webkit-scrollbar {
  height: 5px; /* Adjusts scrollbar height */
}

/* .product-size-card {
  flex-shrink: 0;
  margin-right: 5px;
  margin-top: 2px;
  border-radius: 15px;
}

.product-size-card ion-card-content {
  text-align: center;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-size-card ion-card-content ion-card-title {
  font-size: 14px;
  font-weight: 500;
}

.product-size-card ion-card-content ion-card-subtitle {
  font-size: 12px;
}

.selected-card ion-card-title {
  color: #ffffff;
}

.selected-card ion-card-subtitle {
  color: #ffffff;
}

.product-size-card:not(.selected-card) ion-text {
  color: #000000;
}

.product-size-card:first-child {
  margin-left: 20px;
}

.product-size-card:last-child {
  margin-right: 20px;
}

.product-size-img {
  height: 50px;
}

.product-size-image {
  height: 100%;
} */

.size-card {
  text-align: center;
  margin: 0;
  border-radius: 12px;
  transition: 0.3s;
  background-color: #fff;
  border: 2px solid #ddd;
}

.size-selection-row ion-col:nth-of-type(odd) .size-card {
  margin-left: 10px !important;
  margin-right: 5px !important;
}

.size-selection-row ion-col:nth-of-type(even) .size-card {
  margin-left: 5px !important;
  margin-right: 10px !important;
}
.size-card.selected-size {
  border-color: #bf5906;
  background-color: #ffe8d6;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.size-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shape-icon {
  width: 50px;
  height: 50px;
  color: #bf5906;
  margin-bottom: 5px;
}

.round-shape {
  border-radius: 50%;
}

.rectangle-shape {
  border-radius: 8px;
  width: 60px;
  height: 50px;
}

.size-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size-name {
  font-weight: bold;
  font-size: 12px;
  color: #333;
}

.size-dimension,
.size-slices {
  font-size: 10px;
  color: #666;
}

/* Checkmark for Selected */
.selected-checkmark {
  color: #bf5906;
  font-size: 24px;
  margin-top: 8px;
}

.varieties-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-top: 8px;
  padding: 0 20px 10px 20px;
}

.variety-card {
  flex: 0 0 calc(50% - 10px);
  margin: 0;
  border-radius: 12px;
  transition: all 0.2s ease;
  position: relative;
}

.variety-card-content {
  display: flex;
  align-items: center;
  padding: 12px;
  background: #fff;
}

.selected-variety {
  background-color: rgba(191, 89, 6, 0.1);
  border: 1px solid #bf5906;
}

.checkmark-icon {
  margin-right: 8px;
}

.variety-name {
  font-size: 14px;
  font-weight: 500;
}

.varieties-help-text {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}

.product-footer {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-quantity-control {
  display: flex;
  align-items: center;
}

.product-quantity-button {
  font-size: 18px;
  --color: var(--button-color);
}

.product-quantity-badge {
  margin: 0 2px;
  background-color: var(--light-button-color);
}

.action-button-container {
  margin-left: auto;
}

.action-button {
  --background: var(--button-color);
  font-size: 12px;
}

.no-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(
    100vh - 115px
  ); /* to center vertically and horizontally without scrollbar */
  width: 100%;
}
